@media (max-width: 768px), (orientation: landscape) and (max-height: 768px) {

    html,
    body {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden !important;

        background: #d4d1cc ! important;
    }

    /* Ocultar la web */
    body > *:not(.mobile-warning) {
        display: none !important;
    }

    /* CUADRO PRINCIPAL */
 .mobile-warning {
    display: block !important;

    position: fixed;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 700px;

   background: #d4d1cc;

    
border-top: 1px solid #777777;
border-left: 1px solid #777777;
border-right: 2px solid #eeeeee;
border-bottom: 2px solid #eeeeee;

box-shadow:
    inset 2px 2px 0 #eeeeee,
    inset -2px -2px 0 #777777;



    font-family: Arial, sans-serif;
    color: #111;

    z-index: 999999;
}

    /* CONTENIDO */
    .mobile-warning-content {
        padding: 65px 45px 70px;

        box-sizing: border-box;

        text-align: center;

        font-size: 18px;
    }

    /* TEXTO */
    .mobile-warning-content .question {
        text-align: left;

        margin: 0 0 75px 25px;

        font-size: 18px;
    }

    /* PEZ */
    .mobile-warning-content img {
        display: block;

        width: 145px;
        height: auto;

        margin: 0 auto 65px;
    }

    /* BOTONES */
.warning-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 60px;

    box-sizing: border-box;
}
    .warning-buttons button {
        width: 130px;
        height: 55px;

       background: #d4d1cc;

        color: #111;

        font-family: Arial, sans-serif;
        font-size: 17px;

        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 2px solid  black;
        border-bottom: 2px solid black;

         box-shadow:
        inset 2px 2px 0 #eeeeee,
        inset -2px -2px 0 black;

        cursor: pointer;
    }

    .warning-buttons button:active {
        border-top: 2px solid #555555;
        border-left: 2px solid #555555;
        border-right: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;

        box-shadow: none;

        transform: translate(1px, 1px);
    }
}


/* OCULTO EN ORDENADOR */
.mobile-warning {
    display: none;
}

.mobile-warning.oculto {
    display: none !important;
}

#warning2 {
    display: none;
}

@media (max-width: 768px) {
    #warning2 {
        display: none !important;
    }
}

/* MÓVIL EN HORIZONTAL */
@media (orientation: landscape) and (max-height: 768px) {

   .mobile-warning {
    width: 85vw;
    max-width: none;

    height: 70vh;
    max-height: 70vh;

    overflow: hidden;
}

   .mobile-warning-content {
    padding: 10px 15px 15px;
}
    .mobile-warning-content .question {
        margin: 0 0 15px 10px;
        font-size: 15px;
    }

    .mobile-warning-content img {
        width: 80px;
        margin: 0 auto 15px;
    }

    .mobile-warning-text {
        margin: 0 0 15px;
        font-size: 13px;
        line-height: 1.2;
    }
.warning-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
}

    .warning-buttons button {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }



    @media (max-width: 480px) and (orientation: portrait) {
    .mobile-warning-content {
        padding: 30px 15px 30px;
    }

    .warning-buttons {
        gap: 20px;
    }

    .warning-buttons button {
        width: 100px;
        height: 45px;
        font-size: 14px;
    }
}
}

